[include]
	path = .gitconfig.user

	# user.name
	# user.email
	# core.gitproxy
	# url
	# etc.

[core]
	pager = lv -c

[color]
	ui = auto

[url "https://github.com/"]
	insteadOf = git://github.com/

[credential "https://github.com"]
	username = rinrinne

[credential "https://gist.github.com"]
  username = rinrinne

[credential]
	helper = cache --timeout 604800
